.MYX-checkbox {
  @apply leading-6 text-lg flex;
  --bc: 64, 64, 64;
  --b1: 255, 255, 255;
  --chkbg: var(--bc);
  --chkfg: var(--b1);
  --tw-border-opacity: 1;
  --tw-border-opacity: 0.2;
  --chkbg: var(--bc);
  --chkfg: var(--b1);
  --animation-input: 0.2s;
}
.MYX-checkbox > input[type="checkbox"] {
  @apply appearance-none w-6 h-6 border border-gray-500 rounded;
}

.MYX-checkbox + .MYX-checkbox {
  @apply ml-3;
}

.MYX-checkbox > input[type="checkbox"]:checked {
  @apply bg-blue-500;
  border-color: rgb(var(--chkbg));
  background-color: rgb(var(--chkbg));
  background-repeat: no-repeat;
  animation: checkboxmark var(--animation-input, 0.2s) ease-in-out;
  background-image: linear-gradient(
      -45deg,
      transparent 65%,
      rgb(var(--chkbg)) 0
    ),
    linear-gradient(45deg, transparent 75%, rgb(var(--chkbg)) 0),
    linear-gradient(-45deg, rgb(var(--chkbg)) 40%, transparent 0),
    linear-gradient(
      45deg,
      rgb(var(--chkbg)) 30%,
      rgb(var(--chkfg)) 0,
      rgb(var(--chkfg)) 40%,
      transparent 0
    ),
    linear-gradient(-45deg, rgb(var(--chkfg)) 50%, rgb(var(--chkbg)) 0);
}

.MYX-checkbox > input[type="checkbox"] {
  @apply mr-2;
}

.MYX-checkbox--primary {
  --bc: 59, 130, 246;
}

.MYX-checkbox--primary > input[type="checkbox"]:checked + span {
  @apply text-blue-500;
}

.MYX-checkbox--primary > input[type="checkbox"]:checked {
  @apply bg-blue-500;
}

.MYX-checkbox--success {
  --bc: 34, 197, 94;
}

.MYX-checkbox--success > input[type="checkbox"]:checked + span {
  @apply text-green-500;
}

.MYX-checkbox--success > input[type="checkbox"]:checked {
  @apply bg-green-500;
}

.MYX-checkbox--danger {
  --bc: 239, 68, 68;
}

.MYX-checkbox--danger > input[type="checkbox"]:checked + span {
  @apply text-red-500;
}

.MYX-checkbox--danger > input[type="checkbox"]:checked {
  @apply bg-red-500;
}

.MYX-checkbox > input[type="checkbox"]:disabled {
  @apply opacity-50 cursor-not-allowed animate-none;
}

.MYX-checkbox > input[type="checkbox"]:disabled + span {
  @apply opacity-50 cursor-not-allowed;
}

@keyframes checkboxmark {
  0% {
    background-position-y: 5px;
  }

  50% {
    background-position-y: -2px;
  }

  to {
    background-position-y: 0;
  }
}
